$darkBlue: #061925;
$darkGreen: #2e5266;
$lightGreen: #129494;
$beige: #fcf8e6;

.carousel {
    background-color: #152630;
    width: 90%;
    height: 500px;
    border: 6px solid black;
    border-radius: 10px;
    padding-bottom: 32px;
    padding-top: 16px;
    margin: 0 auto;
    @media all and (max-width: 920px) {
      width: 95%;
    }
    @media all and (max-width: 600px) {
      height: 300px;
      padding-bottom: 24px;
      padding-top: 8px;
    }
    @media all and (max-width: 376px) {
      height: 250px;
    }
  
    &__image {
      display: flex;  
      object-fit: contain;
      border-radius: 10px;
      margin: 0 auto;
      width: 100%;
      height: 100%;

    }
  
    &__arrows {
      display: flex;
      justify-content: space-between;  
      position: relative;
      top: -280px;
      margin: 0 auto;
      width: 96%;
      height: 0;
      @media all and (max-width: 600px) {
        top: -180px;
      }
      @media all and (max-width: 376px) {
        top: -145px;
      }
    }
    &__navigation {
      position: relative;
      text-align: center;
      height: 0;
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      @media all and (max-width: 376px) {
        top: 0;
      }
    }  
    button {
      border: none;
      background: none;
      font-size: 3.75rem;
      color: white;
      text-shadow: 2px 2px 2px $darkBlue;
      @media all and (max-width: 600px) {
        font-size: 3rem;
      }
      @media all and (max-width: 376px) {
        font-size: 2rem;
      }
    }
  
    button :hover {
      cursor: pointer;
    }
}