$darkBlue: #061925;

.comicPanel{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 5%;
    padding-bottom: 2%;
    background-color: white;
    border: 4px solid $darkBlue;
    &__text{
      font-family: "Dancing script";
      font-size: 1.3rem;
      padding: 8px;
      height:fit-content;
      margin: 0;
    }
  }
  
  .comicPanel__image{
    background-color:$darkBlue;
    border-radius: 10px 10px 0 0;
  
    img{
      display: flex;
      object-fit: contain;
      margin: 0 auto;
      @media all and (min-width: 1024px){
        width: 400px; 
        height: 400px;
      }
      @media all and (max-width: 1024px){
        width: 300px; 
        height: 300px;
      }
      @media all and (max-width: 376px){
        width: 300px; 
        height: 300px;
      }
    }
  }
  
  .fullwidth__container{
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 5vh auto 0 auto;
    width: 100%;;
    padding: 4% 4% 0 4%;
    border-radius: 10px;
    @media all and (max-width:376px){
      border-radius: 0;
    }
  }

  .skills__soft__container .comicPanel__image{
    img{
    @media all and (min-width: 1024px){
        width: 250px; 
        height: 250px;
      }
      @media all and (max-width: 1024px){
        width: 300px; 
        height: 300px;
      }
      @media all and (max-width: 600px){
        width: 250px; 
        height:250px;
      }
      @media all and (max-width: 376px){
        width: 200px; 
        height:200px;
      }
    }
  }