$darkBlue: #061925;
$darkGreen: #2e5266;
$lightGreen: #129494;
$beige: #fcf8e6;

@mixin buttonStyle{
  width: 280px;
  border-radius: 10px;
  font-family: "Quicksand";
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px;
  background-color: white;
  border: 5px solid $darkGreen;
  color: $lightGreen;
  &:hover{
    background-color: $lightGreen;
    color: white;
    cursor: pointer;
  };
  @media all and (max-width: 920px){
    font-size: 1rem;
    padding: 8px 12px;
  }
}  

.project__skills{
  font-family: "Quicksand";
  font-size: 1.4rem;
  width: 80%;
  margin: 0 auto;
  background-color: $darkBlue;
  color: white;
  text-shadow: 4px 4px 4px $darkGreen;
  padding: 8px;
  border-radius: 25px;
  margin-bottom: 16px;
  text-align: center;
  @media all and (max-width: 920px){
    font-size: 1.2rem;
    width: 90%;
    border-radius: 15px;
  }
  @media all and (max-width: 600px){
    font-size: 0.8rem;
  }
  @media all and (max-width: 376px){
    font-size: 0.6rem;
    margin: 1vh auto;
  }
}

.project__individual{
  .textZone{
    margin-bottom: 48px
  }
  .section__header{
    margin-top: 0
  }
  .github__link{
    text-decoration: none;
    display: flex;
    width: min-content;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5vh;
  }
}

.linkToProject__button{
  @include buttonStyle();
}