// MIXINS TO BE REUSED IN THE PROJECT
@mixin mainAndHeaderwidths{
  @media all and (min-width: 1500px){
    width: 1390px;
  }
  @media all and (max-width: 1500px){
    width: 1240px;
  }
  @media all and (max-width: 1300px){
    width: 1020px;
  }
  @media all and (max-width: 1100px) {
    width: 950px;
  }
  @media all and (max-width: 1005px) {
    width: 880px;
  }
  @media all and (max-width: 920px) {
    width: 100%;
  }
} 

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  align-items: center;
}

// The following mixins were created to implement a highly-responsive design
@mixin card-properties1 {
  height: calc(110px + 12vw);
  width: calc(110px + 10vw);
  border-radius: 15px;
}

main{
  padding-bottom: 260px;
  min-height: 100vh;
}
main, section, .section__header{
  margin: 300px auto 0 auto;
  @include mainAndHeaderwidths();
  @media all and (max-width: 600px){
    margin: 350px auto 0 auto;
  }
}
.section{
  display: flex;
  flex-direction: column;
}

.section__header{
  text-decoration: none;
  height: 60px;
  width: 90%;
  margin: 0 auto 32px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 0.5vh 1vw;
  border-radius: 20px;
  background-color: #fcf8e6;
  border: 5px solid #384f4f ;
  @media all and (max-width: 600px){
    height: 32px;
    padding: 0.5vh 0;
  }
  a{
    padding: 0;
  }
  i{
    font-size: 2rem;
    padding: 8px;
    color: black;
    background-color: #ebeded ;
    border: 6px solid #2e5266;
    border-radius: 50%;
    @media all and (max-width: 600px){
      height: 38px;
      padding: 4px 11px 4px 10px;
      border: none;
      background-color: #2e5266;
      border-left: 4px dashed #2e5266;
      border-radius: 0 15px 15px 0;
      justify-self: flex-end;
      color: white;
    }
  }
  
   i:hover{
    cursor: pointer;
    color:#14f186;
    background-color: #403720;
  }
  h2{
    padding-left: 3vw;
    @media all and (max-width: 600px) {
      font-size: 1.3rem;
      padding-left:25%;
    }
    @media all and (max-width: 600px) {
      font-size: 1rem;
      padding-left: 13%;
    }
  }
}


body {
    background-image: url(./Assets/Images/Backgrounds/Image12.jpg);
    //43.jpg
    font-family: "Quicksand";
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
}

header {
  background-color: #f8f7eff8;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  @media all and (max-width: 600px){
    height: 220px;
    padding: 30px 0 30px 0;
  }
  @media all and (max-width: 375px){
    height: 220px;
    padding: 16px 0 16px 0;
  }

  .header{
    display: flex;
    width: 100%;
    margin: 0;
    align-items:center;
    justify-content: space-between;
    height: 180px;
    @media all and (max-width: 600px) {
      margin: 0 auto;
      flex-direction: column;
      gap: 24px;
      height: 100%;
    }
    @media all and (max-width: 375px) {
      gap: 16px;
    }

    .header__logo {
      margin: 0 13vw;
      height: 180px;
      @media all and (max-width: 920px) {
        margin: 0 6vw
      }
      @media all and (max-width: 600px) {
        height: 100px;
        padding: 0;
        margin: 0 auto;
        align-items: center;
      }

    }
    h1 {
      width:70%;
      height: 180px;
      margin: 0;
      padding: 6vh 0 0 0;
      color: #2e5266;
      text-shadow: 5px 5px 5px #e2d7fd;
      font-family: "Tangerine";
      font-size: 6.5rem;
      display: flex;
      flex-direction: column;
      justify-self: right;
      letter-spacing: 3px;
      @media all and (max-width: 920px) {
        padding-top: 90px;
        font-size: 4rem;
      }
      @media all and (max-width: 600px) {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        font-size: 4rem;
        text-align: center;
      }
      @media all and (max-width: 375px){
        font-size: 3rem;
      }

      span{
        margin: 0;
        font-size: 2rem;
        text-align: right;
        padding-right:3vw;
        color: #2e526697;
        font-family: "Quicksand";
        text-shadow: none;
        @media all and (max-width: 920px){
          padding-top: 20px;
          padding-right: 0.6vw;
          font-size: 1.3rem;
        }
        @media all and (max-width: 600px){
          padding: 0;
          margin: 0;
          font-size: 1rem;
          text-align: center;
        }
        @media all and (max-width: 375px){
          padding-top: 12px;
        }
      }
    }
  }
  .navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #ede0d4;
    /* background: linear-gradient(135deg, hsla(202, 71%, 27%, 1) 0%, hsla(191, 36%, 46%, 1) 48%, hsla(188, 32%, 50%, 1) 60%, hsla(182, 35%, 57%, 1) 78%, hsla(176, 45%, 66%, 1) 100%); */
    width: 100%;
    border-top: 6px dotted black;
    border-bottom: 6px dotted black;
    height: 60px;
    .navbar__links {
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      font-family: "Quicksand";
      font-size: 1.5rem;
      font-weight: 600;
      width: 20%;
      justify-content: center;
      @media all and (max-width: 1024px){
        font-size: 1.3rem;
      }
      @media all and (max-width: 920px){
        font-size: 1.1rem;
      }
      @media all and (max-width: 800px){
        font-size: 0.9rem;
      }
      @media all and (max-width: 600px){
        font-size: 0.7rem;
      }
      @media all and (max-width: 470px){
        font-size: 0.7rem;
        flex-wrap: wrap;
        padding: 0;
        text-align: center;
        align-items: center;
      }
      &--active{
        text-decoration: none;
        font-weight:700;
        color: white;
        background-color: #352745c6;
      }
    }
  }    
}

// Cards

.cards {
  @include card-properties1();
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 20px 15px;
  border-radius: 15px;
  background-color: #2e5266 ;
  border: 6px solid black;

  @media all and (max-width: 920px) {
    margin: 0 auto;
    width: 90vw;
    height: 350px;
    padding: 15px 15px 45px 15px;
  }
  @media all and (max-width: 600px){
    width: 90%;
    height: 250px;    
    padding: 8px 8px 35px 8px;
  }
  @media all and (max-width: 376px) {
    margin: 0;
    width: 70vw;
    height: 250px;
    min-width: 295px;
    padding: 8px 8px 35px 8px;
  }
  &__cover {
    @include card-properties1();
    text-align: center;
    object-fit: cover;
    border: 3px solid black;
    
    @media all and (max-width: 920px) {
      width: 100%;
      height: 350px;
      object-position: 0 0;
    }
    @media all and (max-width: 600px) {
      width: 90%;
      height: 250px;
      margin: 0;
      min-width: 295px;
    }
  }


  &__title {
    font-family: "Quicksand";
    font-weight: 400;
    text-decoration: none;
    text-shadow: 2px 5px 3px black;
    position: relative;
    top:3px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    @media all and (max-width: 600px){
      top: -2px;
    }
    @media all and (max-width: 376px){
      font-size: 1.3rem;
    }
  }
}


// Carousel

.carousel {
  background-color: #152630;
  margin: 5vh auto 2vh auto;
  width: 90%;
  height: 500px;
  border: 6px solid black;
  border-radius: 10px;
  padding-bottom: 32px;
  padding-top: 16px;
  @media all and (max-width: 920px) {
    width: 100%;
  }
  @media all and (max-width: 600px) {
    height: 300px;
  }
  @media all and (max-width: 376px) {
    height: 250px;
  }

  &__image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: center;

  }

  &__arrows {
    position: relative;
    top: -280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 96%;
    height: 0;
    @media all and (max-width: 600px) {
      top: -180px;
    }
    @media all and (max-width: 376px) {
      top: -145px;
    }
  }

  &__navigation {
    position: relative;
    height: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    @media all and (max-width: 376px) {
      top: -30px;
    }
  }

  button {
    border: none;
    background: none;
    font-size: 3.75rem;
    color: white;
    @media all and (max-width: 600px) {
      font-size: 3rem;
    }
    @media all and (max-width: 376px) {
      font-size: 2rem;
    }
  }

  button :hover {
    cursor: pointer;
  }
}




//Gallery
.gallery {
  @include flex-row-center();
  position: relative;
  flex-wrap: wrap;
  gap: 6vw;
  justify-content: center;
  border-radius: 25px;
  margin: 5vh auto 20vh auto;
  width: 90%;
  min-width: 295px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f5f3ea;
  border: 5px solid black;
  a{
    text-decoration: none;
  }
  @media all and (min-width: 1300px) {
    gap: 2vw;
  }
  @media all and (max-width: 1300px) {
    gap: 1vw;
  }
  @media all and (max-width: 920px) {
    @include flex-column();
    width: 100%;
    padding: 0;
    margin:0 auto;
    background-color: white;
  }
  @media all and (max-width: 600px) {
    gap: 4vh;
  }
}

//Text-zones

.textZone{
background-color: white;
margin: 5vh auto 2vh auto;
width: 90%;
height: fit-content;
border: 6px solid black;
border-radius: 10px;
padding-bottom: 32px;
padding-top: 16px;
}

/* CONTACT */

.form{
  height:450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-size: 1.4em;
  padding: 52px 24px;
  background-color: #152630;
  border: 5px solid #384f4f ;
  border-radius: 25px;
  font-weight: 600;
  color: white;
}

.form__input{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input[type=text], input[type=email]{
  width: 80%;
  height: 30px;
  margin: 0;
}

textarea{
  width: 80%;
  height:80px;
}


input[type=text], input[type=email] textarea{
  font-size: 1.1rem;
  font-family: "Quicksand";
}

input[type=submit]{
  width: 100px;
  align-self: center;
  border-radius: 10px;
  font-family: "Quicksand";
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px;
  background-color: #129494;
  border: 5px solid #384f4f;
  color: white;
  &:hover{
    background-color: #352745c6;
    cursor: pointer;
  }
}




// Footer

.footer {
  @include flex-column-center();
  position: relative;
  bottom: 0;
  left: 0;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  min-width: 295px;
  height: fit-content;
  background-color: #061925;
  color: white;
  @media all and (max-width: 920px) {
    justify-content: center;
    padding-bottom: 60px;
  }

  &__logo {
    margin-bottom: 2vh;
    width: 122px;
    height: auto;
  }

  &__text {
    font-size: 1.125rem;

    @media all and (max-width: 920px) {
      width: 40%;
      font-size: 1rem;
      text-align: center;
    }

    @media all and (max-width: 376px) {
      font-size: 0.75rem;
    }
  }
}

//Text-zone

.textZone{
  padding: 0 32px;
  box-sizing: border-box;
  p{
  font-size: 1.9rem;
  font-family: "Dancing Script";

  }
  
  h2{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2rem;
  }

}


// Tag

.tag {
  background-color: #129494;
  border: 3px solid white;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 50%;
  margin: 3vh 0 0 0;
  height: 48px;
  width: 48px;
  padding: 10px;

  img{
    height: 100%;
    width: 100%;
  }
}

.tags{
  display: flex;
  justify-content: center;
  gap: 6vw;
}

.skills{
  font-family: "Quicksand";
  font-size: 1.4rem;
  width: 80%;
  margin: 0 auto;
  background-color: #152630;
  color: white;
  text-shadow: 4px 4px 4px #042828;
  padding: 8px;
  border-radius: 25px;
  margin-bottom: 16px;
  text-align: center;
}